.member { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    max-width: 300px;
    max-height: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 20px;
}

.member img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.memberName {
    font-size: 24px;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 5px;
}

.memberPosition {
    color: #757575;
    margin-top: 0;
}

.member .linksContainer {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}